* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}
/* Header */
.header {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 4rem;
  color: #eee;
  display: flex;
  align-items: center;
  padding: 0 3.5rem 0 2rem;
  justify-content: space-between;
  font-size: 2rem;
  font-family: 'Konkhmer Sleokchher', cursive;
  z-index: 999;
}
.slash {
  color: rgb(38, 112, 112);
  font-size: 1.5em;
  font-weight: 900;
  position: relative;
  top: 0.1em;
}
.nav-bar-list {
  list-style-type: none;
  display: flex;
  gap: 4rem;
}
.nav-bar-list a {
  color: #eee;
  text-decoration: none;
}
.nav-bar-list a:hover {
  text-decoration: underline solid 0.2rem;
  text-underline-offset: 0.5rem;
}

/* Header */

/* Main Section */
.main-section {
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/main-img.jpg) bottom / cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.main-text {
  text-align: center;
}
.main-text h1 {
  font-size: 5rem;
  color: #eee;
  text-shadow: 0 1rem 0.5rem #151618, 0.1rem 0.2rem 0.1rem black;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
.main-text h2 {
  font-size: 3rem;
  color: #eee;
  text-shadow: 0 1rem 0.5rem #151618, 0.1rem 0.2rem 0.1rem black;
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: -0.1rem;
}
/* Main Section */

/* Why Us */
.why-us {
  width: 100%;
  background-color: #fff;
  padding: 2rem 0 3rem 0;
}
.why-us h2 {
  text-align: center;
  text-decoration: underline solid 0.2rem blanchedalmond;
  text-underline-offset: 0.2em;
  margin-bottom: 4rem;
}
.features-container {
  display: flex;
  gap: 4rem;
  row-gap: 2rem;
  width: 75%;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
}
.feature {
  display: grid;
  background-color: #f6f5f7;
  padding: 2.5rem 0.7rem 0.7rem 0.7rem;
  border-radius: 0.5rem;
  flex-basis: calc(33.33% - 8rem);
  transition: background-color 0.2s;
  justify-items: center;
}

.feature:hover {
  background-color: blanchedalmond;
  cursor: pointer;
}
.feature:hover > h3 {
  text-decoration: underline solid 0.2rem black;
  text-underline-offset: 0.5em;
}
.feature img {
  height: 100px;
  object-fit: cover;
  margin-bottom: 2rem;
}
.feature h3 {
  font-size: 1.75rem;
  text-align: center;
  padding-bottom: 0.7rem;
}
.feature p {
  font-size: 1.5rem;
  position: relative;
  bottom: 0;
  font-size: 1.1rem;
  text-align: center;
}
/* Why Us */

/* Contact */
.contact {
  padding: 5rem 0 8rem 0;
  background-color: #ffebcd;
  width: 100%;
  height: auto;
  color: #151618;
}
.contact h2 {
  text-align: center;
  text-decoration: underline solid 0.2rem #151618;
  text-underline-offset: 0.2em;
  margin-bottom: 10rem;
}
form {
  width: 50%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 60px;
  margin: 0 auto;
  border: 2px solid #ccc;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  font-family: 'Konkhmer Sleokchher', cursive;
}

form > div {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0 20px;
  transform: translate(-50%, -50%);
  background-color: #151618;
  border: 2px solid #ccc;
  border-radius: 20px;
  text-align: center;
}

form > div > img {
  width: 100px;
}

form > input,
form > textarea {
  padding: 12px;
  margin: 1rem auto;
  border: 1px solid #ccc;
  color: #eee;
  background-color: #151618;
  border-radius: 4px;
  display: block;
  width: 100%;
  font-family: inherit;
}

form > textarea {
  height: 100px;
  resize: none;
  font-family: inherit;
}

form > input[type='submit'] {
  max-width: 20vw;
  padding-left: 1%;
  padding-right: 1%;
  cursor: pointer;
  transition: 0.35s;
  font-family: inherit;
  color: blanchedalmond;
}

form > input[type='submit']:hover {
  opacity: 0.7;
}
/* Contact */

/* Footer */
footer {
  width: 100%;
  display: inline-block;
  height: 70px;
  background-color: #151618;
  margin-bottom: -5px;
  font-family: Raleway, sans-serif;
}
footer .copyright {
  width: 50%;
  float: left;
}
@media (max-width: 600px) {
  footer .copyright {
    width: 100%;
  }
}
footer .copyright p {
  padding-left: 10%;
  color: #eee;
  font-size: 0.7em;
  line-height: 70px;
  letter-spacing: 1px;
}
@media (max-width: 600px) {
  footer .copyright p {
    text-align: center;
    padding: 0;
  }
}
footer .social {
  width: 50%;
  float: right;
}
@media (max-width: 600px) {
  footer .social {
    width: 100%;
  }
}
footer .social a {
  float: left;
  line-height: 70px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-weight: bold;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}
footer .social a:hover {
  background-color: #151618;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.linked {
  background-color: #1e83ae;
  font-size: 1.2em;
  width: 20%;
}

.face {
  background-color: #3d5b94;
  font-size: 1.2em;
  width: 20%;
}

.tweet {
  background-color: #3dacdd;
  font-size: 1.2em;
  width: 20%;
}

.support {
  background-color: #6dcd9a;
  font-size: 0.8em;
  width: 40%;
}

/* Mobile Adaptation */
@media (max-width: 1024px) {
  .feature {
    flex-basis: calc(50% - 8rem);
  }
}
@media (max-width: 768px) {
  form {
    width: 75%;
  }
  .header {
    font-size: 1rem;
  }
  .features-container {
    width: 100%;
  }
  .feature {
    flex-basis: calc(50% - 8rem);
  }
}
@media (max-width: 425px) {
  .header {
    font-size: 0.7rem;
    padding: 0 1.5rem 0 1.5rem;
  }
  .nav-bar-list {
    gap: 1.5rem;
  }
  .main-text h1 {
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }
  .main-text h2 {
    font-size: 1rem;
    letter-spacing: -0.05rem;
  }
  .feature {
    flex-basis: calc(100% - 8rem);
  }
}
@media (max-width: 425px) {
  .main-text h1 {
    font-size: 1.75rem;
  }
  .header {
    font-size: 0.7rem;
    padding: 0 0.75rem 0 0.75rem;
  }
  .nav-bar-list {
    gap: 1rem;
  }
}
.active {
  text-decoration: underline solid 0.2rem !important;
  text-underline-offset: 0.5rem !important;
}
